body {
    height: 100%;
    background-color: #fff;
}

.content__heading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.btn {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.register-form__heading {
    margin-top: 81px;
    margin-bottom: 45px;
}

.register-form__inner {
    max-width: 680px;
    margin: 0 auto;
    height: 732px;
}

.register-form__group {
    height: 130px;
}

.register-form__label {
    font-size: 24px;
    font-weight: bold;
}

.register-form__input {
    margin-top: 6px;
    width: 100%;
    height: 45px;
    border: #000 solid 1px;
    border-radius: 4px;
    padding-left: 12px;
    color: #000;
    font-size: 24px;
}

.register-form__btn {
    margin-top: 43px;
    width: 100%;
    height: 60px;
    font-size: 24px;
}

.register-form__link-login {
    display: block;
    margin-top: 26px;
    color: #0073CC;
    font-size: 20px;
    text-align: center;
}

.register-form__error-message {
    margin-top: 3px;
    font-size: 16px;
    color: #000;
}