a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

select option {
    background-color: #636769;
    color: #EAEAEA;
    font-size: 12px;
    font-weight: 600;
}

.header {
    height: 80px;
    background-color: #000;
    padding: 0px 26px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    width: 370px;
    height: 50px;
    display: block;
}

.header__heading img {
    width: 100%;
    height: 50px;
    padding-top: 0;
}

.search-form {
    text-align: center;
    width: 500px;
}

.search-form__input {
    width: 500px;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    padding-left: 12px;
    font-size: 24px;
}

.search-form__input::placeholder {
    color: #000;
    font-size: 24px;
    padding-left: 30px;
}

.header nav {
    width: 463px;
    padding-left: 37px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.header-nav__link-logout {
    color: #fff;
}

.header-nav__item a {
    color: #fff;
}

.header-nav__item form {
    display: inline;
}

.header-nav__link-mypage {
    color: #fff;
}

.header-nav__item__button {
    width: 100px;
    height: 50px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
}

.header-nav__item__button a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
}