a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
}

.header {
    height: 80px;
    background-color: #000;
    padding: 0px 46px 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    width: 370px;
    height: 36px;
    display: block;
}

.header__heading img {
    width: auto;
    height: 36px;
    padding-top: 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.header-nav__item {
    padding-left: 55px;
}

.header-nav__item:nth-child(2) {
    padding-left: 43px;
}

.header-nav__item a {
    color: #fff;
}

.header-nav__item form {
    display: inline;
}

.header-nav__link-logout {
    color: #fff;
}